@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Home Page */
.hero {
  background-color: black;
}

.icon-hero {
  padding-bottom: 40px;
}

.subtitle-hero {
  position: relative;
  color: white;
  font-size: 2rem;
  font-weight: lighter;
  font-family: 'Varela Round', sans-serif;
}

.title-hero {
  position: relative;
  color: white;
  font-weight: bold;
  font-size: 5rem;
  font-family: 'Varela Round', sans-serif;
}

.hero-button {
  position: relative;
  padding-top: 25px;
}

.button-main {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #3A82E0 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Varela Round', sans-serif;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 22px;
  padding-right: 22px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-main:focus {
  box-shadow: #5f88aa 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-main:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-main:active {
  box-shadow: #3A82E0 0 3px 7px inset;
  transform: translateY(2px);
}

/* Specific styles for the first carousel only */
#carouselExampleInterval {
  height: 850px; /* Adjust the carousel height as needed */
  overflow: hidden;
  position: relative;
}

#carouselExampleInterval .carousel-item img {
  height: 100%; /* Make the image take up the full height of the carousel */
  width: 100%; /* Ensure the image covers the full width */
  object-fit: cover; /* Scale the image to cover the entire area */
  object-position: center; /* Center the image within the carousel */
}

#carouselExampleInterval .carousel-inner {
  position: relative;
  z-index: 1; /* Ensure carousel images stay in the background */
}

#carouselExampleInterval .carousel-item {
  transition-duration: 1.5s; /* Adjust the speed of the transition */
  transition-timing-function: ease-in-out; /* Adjust the smoothness */
}

#carouselExampleInterval .carousel-item img {
  opacity: 0.5; /* Apply opacity to images */
}

#carouselExampleInterval .carousel-text-overlay {
  position: absolute;
  top: 50%; /* Adjust as needed */
  left: 50%; /* Adjust as needed */
  transform: translate(-50%, -50%); /* Center the text */
  z-index: 10; /* Ensure the text is above the carousel images */
  color: #fff; /* Adjust text color as needed */
  text-align: center; /* Center the text */
  width: 100%; /* Full width to keep text centered */
  pointer-events: none; /* Allows carousel controls to remain clickable */
}

#carouselExampleInterval .carousel-text-overlay .hero-button {
  pointer-events: auto; /* Enable pointer events for the button */
}

#carouselExampleInterval .carousel-text-overlay h3,
#carouselExampleInterval .carousel-text-overlay h1,
#carouselExampleInterval .carousel-text-overlay .hero-button {
    z-index: 3; /* Make sure the text and button are above the images */
}

.about {
  background-color: white;
  padding-top: 80px;
  padding-bottom: 80px;
}

.icon-about {
  color: #3A82E0;
  padding-bottom: 40px;
}

.subtitle-about {
  font-family: 'Varela Round', sans-serif;
  font-size: 1.1rem;
  color: #a7a7a7;
  padding-bottom: 20px;
}

.title-about {
  font-family: 'Varela Round', sans-serif;
  font-size: 3rem;
  color: black;
  font-weight: bold;
}

.col-left-about {
  padding-top: 40px;
}

.img-about {
  border-radius: 25px;
  filter: drop-shadow(0 0 0.65rem #3A82E0)
}

.col-right-about {
  text-align: left;
  padding-top: 40px;
  padding-left: 40px;
}

.text-about {
  font-family: 'Varela Round', sans-serif;
  font-size: 1.1rem;
  color: #a7a7a7;
}

.subtitle-about-col {
  font-family: 'Varela Round', sans-serif;
  font-size: 1.5rem;
  color: black;
}

.hr-about {
  color: #3A82E0 ;
  margin-top: 30px;
  margin-bottom: 30px;
}

.quote {
  background-color: #3A82E0;
  color: white;
  font-family: 'Varela Round', sans-serif;
  width: 70%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 10px;
  border-radius: 10px;
}

.phone-quote, .title-quote {
  margin-bottom: 0;
}

.text-quote {
  padding-left: 30px
}

.services {
  background-color: #cfe3fd;
  padding-top: 80px;
  padding-bottom: 80px;
}

.icon-services {
  color: #3A82E0;
  padding-bottom: 40px;
}

.subtitle-services {
  font-family: 'Varela Round', sans-serif;
  font-size: 1.1rem;
  color: #a7a7a7;
  padding-bottom: 20px;
}

.title-services {
  font-family: 'Varela Round', sans-serif;
  font-size: 3rem;
  color: black;
  font-weight: bold;
}

/* Specific styles for the second carousel only */
#carouselExampleControls{
    padding-top: 40px;
}

#carouselExampleControls .cards-wrapper {
  display: flex;
  justify-content: center;
}

#carouselExampleControls .card img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 20px 20px 0 0;
}

#carouselExampleControls .card {
  margin: 0 2em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 20px;
}

#carouselExampleControls .card-body {
  padding-top: 20px;
  padding-bottom: 40px;
  font-family: 'Varela Round', sans-serif;
}

#carouselExampleControls .card-title {
  padding-top: 20px;
  padding-bottom: 10px;
  font-family: 'Varela Round', sans-serif;
  font-weight: 500;
}

#carouselExampleControls .card-text {
  color: #a7a7a7;
}

#carouselExampleControls .carousel-inner {
  padding: 1em;
}

#carouselExampleControls .carousel-control-prev,
#carouselExampleControls .carousel-control-next {
  background-color: #3A82E0;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 2em;
}

#carouselExampleControls .carousel-control-prev {
  left: -6%; /* Adjust this value to position it further left */
}

#carouselExampleControls .carousel-control-next {
  right: -6%; /* Adjust this value to position it further right */
}

.team {
  padding-top: 80px;
  padding-bottom: 80px;
}

.icon-team {
  color: #3A82E0;
  padding-bottom: 40px;
}

.subtitle-team {
  font-family: 'Varela Round', sans-serif;
  font-size: 1.1rem;
  color: #a7a7a7;
  padding-bottom: 20px;
}

.title-team {
  font-family: 'Varela Round', sans-serif;
  font-size: 3rem;
  color: black;
  font-weight: bold;
  padding-bottom: 40px;
}

.team-card {
  border: none;
}
