@{
    ViewData["Title"] = "Home Page";
}

<section class="text-center hero">
    <div class="hero-image">
        <h3 class="subtitle-hero">Une belle maison mérite une belle vue!</h3>
        <h1 class="title-hero">Service d'entretien <br> de maison extérieur</h1>
        <div class="hero-button">
            <button class="button-main">Contactez-nous</button>
        </div>
    </div>

    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" data-bs-pause="false">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="7000">
            <img src="../images/hero-bg.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="7000">
            <img src="../images/hero-bg.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="7000">
            <img src="../images/hero-bg.jpeg" class="d-block w-100" alt="...">
            </div>
        </div>
        <div class="carousel-text-overlay">
            <h3 class="subtitle-hero">Une belle maison mérite une belle vue!</h3>
            <h1 class="title-hero">Service d'entretien <br> de maison extérieur</h1>
            <div class="hero-button">
                <button class="button-main">Contactez-nous</button>
            </div>
        </div>
    </div>
</div>
