@{
    ViewData["Title"] = "Home Page";
}

<section class="text-center hero">
    @* <div class="hero-image">
        <h3 class="subtitle-hero">Une belle maison mérite une belle vue!</h3>
        <h1 class="title-hero">Service d'entretien <br> de maison extérieur</h1>
        <div class="hero-button">
            <button class="button-main">Contactez-nous</button>
        </div>
    </div> *@

    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" data-bs-pause="false">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="7000">
            <img src="../images/hero-bg.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="7000">
            <img src="../images/hero-bg.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="7000">
            <img src="../images/hero-bg.jpeg" class="d-block w-100" alt="...">
            </div>
        </div>
        <div class="carousel-text-overlay">
            <i class="fa-solid fa-star fa-xl icon-hero" style="color: white"></i>
            <h3 class="subtitle-hero">Une belle maison mérite une belle vue!</h3>
            <h1 class="title-hero">Service d'entretien <br> de maison extérieur</h1>
            <div class="hero-button">
                <button class="button-main">Contactez-nous</button>
            </div>
        </div>
    </div>
</section>

<section class="container text-center about">
    <i class="fa-solid fa-star fa-xl icon-about"></i>
    <p class="subtitle-about">La propreté à son meilleur – parce que vous le méritez.</p>
    <h1 class="title-about">À Propos de Belle Vue</h1>
    <div class="row justify-content-center align-items-center">
        <div class="col-6 col-left-about">
            <img class="img-about" src="../images/about-image.webp" height="95%" width="95%">
        </div>
        <div class="col-6 col-right-about">
            <p class="text-about"> À Belle Vue, nous sommes fiers de vous offrir un service
                de nettoyage qui allie qualité, confiance et attention aux
                détails. Notre équipe travaille avec diligence pour garantir
                que votre espace soit toujours à son meilleur.
            </p>
            <hr class="hr-about">
            <h2 class="subtitle-about-col">Notre Engagement</h2>
            <p class="text-about"> Nous nous engageons à offrir une propreté de premier ordre
                avec un service client inégalé. 
            </p>
            <hr class="hr-about">
            <h2 class="subtitle-about-col">Notre Philosophie</h2>
            <p class="text-about"> Chez Belle Vue, nous pensons que chaque espace mérite une
                attention particulière. 
            </p>
        </div>
    </div>
</section>
