@{
    ViewData["Title"] = "Home Page";
}

<section class="text-center hero">
    @* <div class="hero-image">
        <h3 class="subtitle-hero">Une belle maison mérite une belle vue!</h3>
        <h1 class="title-hero">Service d'entretien <br> de maison extérieur</h1>
        <div class="hero-button">
            <button class="button-main">Contactez-nous</button>
        </div>
    </div> *@

    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" data-bs-pause="false">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="7000">
            <img src="../images/hero-bg.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="7000">
            <img src="../images/hero-bg.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="7000">
            <img src="../images/hero-bg.jpeg" class="d-block w-100" alt="...">
            </div>
        </div>
        <div class="carousel-text-overlay">
            <i class="fa-solid fa-star fa-xl icon-hero" style="color: white"></i>
            <h3 class="subtitle-hero">Une belle maison mérite une belle vue!</h3>
            <h1 class="title-hero">Service d'entretien <br> de maison extérieur</h1>
            <div class="hero-button">
                <button class="button-main">Contactez-nous</button>
            </div>
        </div>
    </div>
</section>

<section class="container text-center about">
    <i class="fa-solid fa-star fa-xl icon-about"></i>
    <p class="subtitle-about">La propreté à son meilleur – parce que vous le méritez.</p>
    <h1 class="title-about">À Propos de Belle Vue</h1>
    <div class="row justify-content-center align-items-center">
        <div class="col-6 col-left-about">
            <img class="img-about" src="../images/about-image.webp" height="95%" width="95%">
        </div>
        <div class="col-6 col-right-about">
            <p class="text-about"> À Belle Vue, nous sommes fiers de vous offrir un service
                de nettoyage qui allie qualité, confiance et attention aux
                détails. Notre équipe travaille avec diligence pour garantir
                que votre espace soit toujours à son meilleur.
            </p>
            <hr class="hr-about">
            <h2 class="subtitle-about-col">Notre Engagement</h2>
            <p class="text-about"> Nous nous engageons à offrir une propreté de premier ordre
                avec un service client inégalé. 
            </p>
            <hr class="hr-about">
            <h2 class="subtitle-about-col">Notre Philosophie</h2>
            <p class="text-about"> Chez Belle Vue, nous pensons que chaque espace mérite une
                attention particulière. 
            </p>
            <hr class="hr-about">
            <div class="quote row justify-content-center align-items-center">
                <div class="col-1">
                    <i class="fa-solid fa-user-check fa-2xl" style="color: #ffffff;"></i>
                </div>
                <div class="col-11 text-quote">
                    <p class="title-quote">Obtenez un devis gratuit aujourd'hui</p>
                    <h2 class="phone-quote">514-797-0119</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="text-center services">
    <div class="container">
        <i class="fa-solid fa-star fa-xl icon-services"></i>
        <p class="subtitle-services">Ce que nous proposons</p>
        <h1 class="title-services">Nos services de nettoyage</h1>
        <div id="carouselExampleControls" class="carousel slide" data-bs-interval="false">
        <div class="carousel-inner">
            <div class="carousel-item active">
            <div class="cards-wrapper">
            <div class="card">
                <img src="../images/hero-bg.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                <img src="../images/window-icon.png" style="border-radius: 0" height="40px" width="40px">
                <h5 class="card-title">Nettoyage de fenêtres</h5>
                <p class="card-text">Nous offrons un service de nettoyage professionnel pour vos fenêtres, garantissant des vitres éclatantes et sans traces.</p>
                </div>
            </div>
            <div class="card d-none d-md-block">
                <img src="../images/hero-bg.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                <img src="../images/gutter-icon.png" style="border-radius: 0" height="40px" width="40px">
                <h5 class="card-title">Nettoyage de gouttières</h5>
                <p class="card-text">Assurez le bon fonctionnement de vos gouttières avec notre service de nettoyage.</p>
                </div>
            </div>
            <div class="card d-none d-md-block">
                <img src="../images/hero-bg.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                <img src="../images/pressure-icon.png" style="border-radius: 0" height="40px" width="40px">
                <h5 class="card-title">Nettoyage à haute pression</h5>
                <p class="card-text">Redonnez vie à vos surfaces extérieures grâce à notre nettoyage à haute pression.</p>
                </div>
            </div>
            </div>
            </div>
            <div class="carousel-item">
            <div class="cards-wrapper">
                <div class="card">
                    <img src="../images/hero-bg.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <img src="../images/window-icon.png" style="border-radius: 0" height="40px" width="40px">
                    <h5 class="card-title">Nettoyage de fenêtres</h5>
                    <p class="card-text">Nous offrons un service de nettoyage professionnel pour vos fenêtres, garantissant des vitres éclatantes et sans traces.</p>
                    </div>
                </div>
                <div class="card d-none d-md-block">
                    <img src="../images/hero-bg.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <img src="../images/gutter-icon.png" style="border-radius: 0" height="40px" width="40px">
                    <h5 class="card-title">Nettoyage de gouttières</h5>
                    <p class="card-text">Assurez le bon fonctionnement de vos gouttières avec notre service de nettoyage.</p>
                    </div>
                </div>
                <div class="card d-none d-md-block">
                    <img src="../images/hero-bg.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <img src="../images/pressure-icon.png" style="border-radius: 0" height="40px" width="40px">
                    <h5 class="card-title">Nettoyage à haute pression</h5>
                    <p class="card-text">Redonnez vie à vos surfaces extérieures grâce à notre nettoyage à haute pression.</p>
                    </div>
                </div>
            </div>
            </div>
            <div class="carousel-item">
            <div class="cards-wrapper">
                <div class="card">
                    <img src="../images/hero-bg.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <img src="../images/window-icon.png" style="border-radius: 0" height="40px" width="40px">
                    <h5 class="card-title">Nettoyage de fenêtres</h5>
                    <p class="card-text">Nous offrons un service de nettoyage professionnel pour vos fenêtres, garantissant des vitres éclatantes et sans traces.</p>
                    </div>
                </div>
                <div class="card d-none d-md-block">
                    <img src="../images/hero-bg.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <img src="../images/gutter-icon.png" style="border-radius: 0" height="40px" width="40px">
                    <h5 class="card-title">Nettoyage de gouttières</h5>
                    <p class="card-text">Assurez le bon fonctionnement de vos gouttières avec notre service de nettoyage.</p>
                    </div>
                </div>
                <div class="card d-none d-md-block">
                    <img src="../images/hero-bg.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <img src="../images/pressure-icon.png" style="border-radius: 0" height="40px" width="40px">
                    <h5 class="card-title">Nettoyage à haute pression</h5>
                    <p class="card-text">Redonnez vie à vos surfaces extérieures grâce à notre nettoyage à haute pression.</p>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        </div>
    </div>
</section>

<section class="container team text-center">
    <i class="fa-solid fa-star fa-xl icon-team"></i>
    <p class="subtitle-team">Nos professionnels</p>
    <h1 class="title-team">Rencontrez l'équipe</h1>
    <div class="row justify-content-around align-items-center">
        <div class="col-md-3 d-flex justify-content-center">
            <div class="card team-card" style="width: 18rem;">
                <img src="../images/template-team.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Samuel Bédard</h5>
                    <p class="card-text">Co-Propriétaire</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 d-flex justify-content-center">
            <div class="card team-card" style="width: 18rem;">
                <img src="../images/template-team.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Hugo Lapointe</h5>
                    <p class="card-text">Programmeur</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 d-flex justify-content-center"> 
            <div class="card team-card" style="width: 18rem;">
                <img src="../images/template-team.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Jose Armando</h5>
                    <p class="card-text">Co-Propriétaire</p>
                </div>
            </div>
        </div>
    </div>
</section>
